$width_key: 40px; 
$height_key: 40px;
$height_keyboard: $height_key*5+5*10px;
$width_keyboard: $width_key*17;
$height_texarea: $height_key*10;
$width_body: $width_keyboard + 20px;

$margin_left: 20px;

body { max-width: 700px;
    background-color: rgba(0,51,102,.8);
	color: rgb(255,255,255);
    div {
        margin: 10px $margin_left;
        display: flex; flex-flow: column nowrap; gap: 10px; 
        border: 1px solid darkgrey; 
        width: $width_keyboard;
        height: $height_keyboard;
        nav{
            display:  flex; flex-flow: row nowrap;
            gap: 5px; 
            justify-content: space-around; align-items: center;
        };
    };
    textarea{
        width: $width_keyboard;
        height: $height_texarea;
        margin: 10px $margin_left;
        display: flex; flex-flow: row nowrap;    
        border: 1px dotted #cccccc;
        color: red;
        font-size: 1.8em;
    };
    select{
        height: $height_key;
        font-size: 1.1em;
        font-weight: 600;
        color: red;
        border-radius: 5px;
        box-shadow: 0 0 2px white;
    };
    input [type="radio"]:checked {
        visibility: inherit;
        color: #38da38;
    };
};

button{
    display: flex; flex-flow: row nowrap; align-items: center;
    justify-content: center; gap: 2px;
    width: $width_key; height: $height_key;
    padding: 2px;
    font-size: 1em;
	color: black;
	background: rgb(0,102,153);
	background: linear-gradient(to bottom, rgba(255,255,255,.1) 40%,rgba(255,255,255,.5));
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 2px white;
    b{
        font-size: .7em; 
    } ;
    transition-property: box-shadow, background, transform;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;    
};

article {
    display: flex; flex-flow: row nowrap;
    width: $width_keyboard; gap: $width_key;
    margin-left: $margin_left;
    .init {
        width: 100px; 
    };
};

.focus {
    background: linear-gradient(to bottom, rgba(0,102,153,.5) 40%,rgba(255,255,255,.5));
    box-shadow: inset 4px 4px rgba(10,10,10,.1);
    transform: scale(1.5);
}

h2,p{
    margin: 15px 25px;
}









